<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:copied">
        <handler type="Sitecore.Data.Serialization.ItemHandler, Sitecore.Kernel"
       method="OnItemCopied"/>
      </event>
      <event name="item:renamed">
        <handler type="Sitecore.Data.Serialization.ItemHandler, Sitecore.Kernel"
       method="OnItemRenamed"/>
      </event>
      <event name="item:saved">
        <handler type="Sitecore.Data.Serialization.ItemHandler, Sitecore.Kernel"
       method="OnItemSaved"/>
      </event>
      <event name="item:deleted">
        <handler type="Sitecore.Data.Serialization.ItemHandler, Sitecore.Kernel"
       method="OnItemDeleted"/>
      </event>
      <event name="item:moved">
        <handler type="Sitecore.Data.Serialization.ItemHandler, Sitecore.Kernel"
       method="OnItemMoved"/>
      </event>
      <event name="item:versionRemoved">
        <handler type="Sitecore.Data.Serialization.ItemHandler, Sitecore.Kernel"
       method="OnItemVersionRemoved"/>
      </event>
    </events>
    <settings>
      <setting name="SerializationFolder">
        <patch:attribute name="value">E:\Source\sccs-demo\items</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>