<div class="col-md-12 well">
        <h1>The Adventurer Blog</h1>
        <p>&nbsp;</p>
        @Html.Sitecore().Placeholder("blogdisplayitem1")
        @Html.Sitecore().Placeholder("blogdisplayitem2")
</div>