<div class="col-md-12 well">
        <h1><a href="/Blog">The Adventurer Blog</a></h1>
        <p>&nbsp;</p>
        @Html.Sitecore().Placeholder("blogdisplayitem1")
        @Html.Sitecore().Placeholder("blogdisplayitem2")
</div>